## Alterando o dataset original

In [4]:
# Primeiro vamos copiar o dataset original para outra variável, para não dar xabu no resto da aula :P
import pandas as pd
multiple_choice = pd.read_csv('/home/cintia/workspace/tera-datascience-out2018/07-structured-data-analysis/multipleChoiceResponses.csv', encoding='ISO-8859-1')

/home/cintia/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
# Agora vamos ver os valores da coluna LearningDataScience
df = multiple_choice.copy()
df['LearningDataScience'].value_counts()

Yes, I'm focused on learning mostly data science skills                  800
Yes, but data science is a small part of what I'm focused on learning    429
No, I am not focused on learning data science skills                      55
Name: LearningDataScience, dtype: int64

In [8]:
def replace_value(row):
    if row == "Yes, I'm focused on learning mostly data science skills":
        return "yes"
    elif row == "Yes, but data science is a small part of what I'm focused on learning":
        return "so so"
    elif row == "No, I am not focused on learning data science skills":
        return "no"

In [10]:
# Agora vamos aplicar a função replace_value a todas as linhas do LearningDataScience. 
# Crie uma nova coluna chamada LearningDataScienceSimple
df['LearningDataScienceSimple'] = df['LearningDataScience'].apply(replace_value)

Agora podemos ver os novos valores desses campos

In [11]:
# Agora vamos ver os valores da coluna LearningDataScienceSimple
df['LearningDataScienceSimple'].value_counts()

yes      800
so so    429
no        55
Name: LearningDataScienceSimple, dtype: int64

In [12]:
# Qual o shape do dataset atual?
df.shape

(16716, 229)

E agora que a outra coluna muito complexa não serve mais, podemos descartá-la

In [13]:
# Descarte a coluna LearningDataScience
df.drop(['LearningDataScience'], axis=1, inplace=True)

In [14]:
# Qual o shape do dataset atual?
df.shape

(16716, 228)

Pela quantidade de linhas no dataset percebemos que o `value_counts()` não retorna os valores nulos - e nós temos MUITOS valores nulos nessa coluna. Podemos utilizar um método do pandas para trocar os NAs por uma categoria nossa.

In [16]:
# Substitua os nulos pela frase "did not answer the question"
df['LearningDataScienceSimple'].fillna('did not answer the question', inplace=True)

In [18]:
# Agora vamos ver os valores da coluna LearningDataScienceSimple
df['LearningDataScienceSimple'].value_counts()

did not answer the question    15432
yes                              800
so so                            429
no                                55
Name: LearningDataScienceSimple, dtype: int64

Outra forma de alterar o dataset é utilizando funções _in place_. Para isso utilizaremos o `lambda`

Por exemplo: E se eu quiser atualizar a idade dos participantes? O dataset foi coletado em 2017 e já estamos em 2018

In [19]:
# Ao invés de usar uma função que soma +1, vamos escrever a nossa com o lambda
df['NewAge'] = df['Age'].apply(lambda x: x + 1)

Vamos ver se funcionou? Vamos dar uma olhada nos primeiros 5 registros, com a coluna 'Age' e a 'NewAge' lado a lado

In [24]:
df[['Age', 'NewAge']][:5]

    Age  NewAge
0   NaN     NaN
1  30.0    31.0
2  28.0    29.0
3  56.0    57.0
4  38.0    39.0

Ficou mais claro a proporção de pessoas que não responderam agora o/

### Desafio 3

Separar os datasets pelas pessoas que os responderam. Para isso você vai ter que carregar o dataset `schema.csv`.

O dataset `schema.csv` possui a coluna `Asked` - lá você conseguirá ver quais tipos de pessoas responderam as perguntas - E então agrupe as perguntas pela pessoas que as responderam. 

Como uns datasets ficariam muito pequenos, sugiro que você utilize os seus conhecimentos recém adquiridos e crie 4 datasets distintos. Além de criá-los você deve salvá-los como `.csv`. Vamos usar esses datasets na próxima aula.

![panda_playground](https://media.giphy.com/media/ieaUdBJJC19uw/giphy.gif)

In [26]:
schema = pd.read_csv('/home/cintia/workspace/tera-datascience-out2018/07-structured-data-analysis/schema.csv', encoding='ISO-8859-1')

In [27]:
schema.tail()

,Column,Question,Asked
285,JobFactorRemote,How are you assessing potential job opportunit...,Learners
286,JobFactorIndustry,How are you assessing potential job opportunit...,Learners
287,JobFactorLeaderReputation,How are you assessing potential job opportunit...,Learners
288,JobFactorDiversity,How are you assessing potential job opportunit...,Learners
289,JobFactorPublishingOpportunity,How are you assessing potential job opportunit...,Learners

In [28]:
asked = schema['Asked']

In [29]:
asked.value_counts()

CodingWorker       161
All                 70
Learners            41
Worker1              6
CodingWorker-NC      5
OnlineLearners       2
Worker               2
Non-worker           2
Non-switcher         1
Name: Asked, dtype: int64

In [34]:
all = schema[schema['Asked'] == schema['All']]

KeyError: 'All'