## Selecionando por índice

E se eu quiser pegar os valores de uma linha específica do dataframe?

In [6]:
import pandas as pd
multiple_choice = pd.read_csv('/home/cintia/workspace/tera-datascience-out2018/07-structured-data-analysis/multipleChoiceResponses.csv', encoding='ISO-8859-1')
free_form = pd.read_csv('/home/cintia/workspace/tera-datascience-out2018/07-structured-data-analysis/freeformResponses.csv', encoding='ISO-8859-1')

/home/cintia/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (31,83,86,87,98,99,109,116,123,124,127,129,130,164) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/cintia/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5,17,21,38,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# Qual comando eu usaria para pegar o registro da linha 11?
multiple_choice.iloc[10,]

GenderSelect                                                                          Female
Country                                                                               Russia
Age                                                                                       20
EmploymentStatus                                      Not employed, and not looking for work
StudentStatus                                                                            Yes
LearningDataScience                        Yes, I'm focused on learning mostly data scien...
CodeWriter                                                                               NaN
CareerSwitcher                                                                           NaN
CurrentJobTitleSelect                                                                    NaN
TitleFit                                                                                 NaN
CurrentEmployerType                                                                      NaN
MLToolNextYearSelect                                                                  Python
MLMethodNextYearSelect                                                           Neural Nets
LanguageRecommendationSelect                                                          Python
PublicDatasetsSelect                       Dataset aggregator/platform (i.e. Socrata/Kagg...
LearningPlatformSelect                                                 Kaggle,Online courses
LearningPlatformUsefulnessArxiv                                                          NaN
LearningPlatformUsefulnessBlogs                                                          NaN
LearningPlatformUsefulnessCollege                                                        NaN
LearningPlatformUsefulnessCompany                                                        NaN
LearningPlatformUsefulnessConferences                                                    NaN
LearningPlatformUsefulnessFriends                                                        NaN
LearningPlatformUsefulnessKaggle                                                 Very useful
LearningPlatformUsefulnessNewsletters                                                    NaN
LearningPlatformUsefulnessCommunities                                                    NaN
LearningPlatformUsefulnessDocumentation                                                  NaN
LearningPlatformUsefulnessCourses                                                Very useful
LearningPlatformUsefulnessProjects                                                       NaN
LearningPlatformUsefulnessPodcasts                                                       NaN
LearningPlatformUsefulnessSO                                                             NaN
                                                                 ...
WorkMLTeamSeatSelect                                                                     NaN
WorkDatasets                                                                             NaN
WorkDatasetsChallenge                                                                    NaN
WorkDataStorage                                                                          NaN
WorkDataSharing                                                                          NaN
WorkDataSourcing                                                                         NaN
WorkCodeSharing                                                                          NaN
RemoteWork                                                                               NaN
CompensationAmount                                                                       NaN
CompensationCurrency                                                                     NaN
SalaryChange                                                                             NaN
JobSatisfaction                                                                          NaN
JobSearchResource                                                    Tech-specific job board
JobHuntTime                                                                                0
JobFactorLearning                                                             Very Important
JobFactorSalary                                                           Somewhat important
JobFactorOffice                                                           Somewhat important
JobFactorLanguages                                                        Somewhat important
JobFactorCommute                                                          Somewhat important
JobFactorManagement                                                       Somewhat important
JobFactorExperienceLevel                                                  Somewhat important
JobFactorDepartment                                                           Very Important
JobFactorTitle                                                                Very Important
JobFactorCompanyFunding                                                   Somewhat important
JobFactorImpact                                                               Very Important
JobFactorRemote                                                           Somewhat important
JobFactorIndustry                                                             Very Important
JobFactorLeaderReputation                                                     Very Important
JobFactorDiversity                                                        Somewhat important
JobFactorPublishingOpportunity                                            Somewhat important
Name: 10, Length: 228, dtype: object

Também posso ver só o valor de uma coluna, sem escrever o nome, somente pela sua posição

In [5]:
# E para pegar a primeira coluna do dataset?
multiple_choice.iloc[:, 0]

0        Non-binary, genderqueer, or gender non-conforming
1                                                   Female
2                                                     Male
3                                                     Male
4                                                     Male
5                                                     Male
6                                                     Male
7                                                   Female
8                                                   Female
9                                                     Male
10                                                  Female
11                                                    Male
12                                                    Male
13                                                    Male
14                                                    Male
15                                                    Male
16                                                    Male
17                                                    Male
18                                                    Male
19                                                    Male
20                                                    Male
21                                                    Male
22                                                    Male
23                                                    Male
24                                                    Male
25                                                    Male
26                                                    Male
27                                                    Male
28                                                    Male
29                                                  Female
                               ...
16686                                                 Male
16687                                                 Male
16688                                               Female
16689                                               Female
16690                                                 Male
16691                                                 Male
16692                                                 Male
16693                                                 Male
16694                                                 Male
16695                                                 Male
16696                                                 Male
16697                                                 Male
16698                                                 Male
16699                                                 Male
16700                                                 Male
16701                                                 Male
16702                                                 Male
16703                                                 Male
16704                                                 Male
16705                                                 Male
16706                                                 Male
16707                                               Female
16708                                                 Male
16709                                                 Male
16710                                                 Male
16711                                               Female
16712                                                 Male
16713                                               Female
16714                                               Female
16715                                                 Male
Name: GenderSelect, Length: 16716, dtype: object

Mais detalhes sobre `loc`, `iloc` e `ix` podem ser vistas nesse [link](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)

### Desafio 2

Será que temos uma quantidade gigante de nulos nesse dataset porque as pessoas não preencheram essas perguntas por multipla escolha ou por que responderam no modo livre? 

Para validar essa hipótese teremos que carregar o outro dataset, que contém as respostas das perguntas em forma livre e juntar (Pelo menos uma das variáveis) dos dois os datasets. Eu escolhi `DataScienceIdentity`

![challenge_panda](https://media.giphy.com/media/K9z3im98oo9Ve/giphy.gif)

In [18]:
# a ideia do desafio é verificar se quando o índice de um dataset tem resposta no outro dataset esse índice é nulo
ds_multiple = multiple_choice['DataScienceIdentitySelect']
ds_free = free_form['DataScienceIdentityFreeForm']
#- Ou seja: Vamos comparar as linhas dos datasets
multiple = ds_multiple.notnull().sum()
print('multiple', multiple)
free = ds_free.notnull().sum()
print('free', free)
print('sum', multiple + free)
compare = free | multiple
print('compare', compare)

print(len(ds_multiple), len(ds_free))

multiple 12671
free 2417
sum 15088
compare 14719
16716 16716

In [19]:
pd.DataFrame({
    'Multiple': ds_multiple,
    'Free': ds_free})

,Multiple,Free
0,Yes,NaN
1,Yes,NaN
2,Yes,NaN
3,Yes,I use mid-level data science paired with high-...
4,No,NaN
5,NaN,NaN
6,No,NaN
7,No,NaN
8,No,NaN
9,Sort of (Explain more),NaN
10,No,My job is a combination of software design and...
11,NaN,NaN
12,No,NaN
13,NaN,NaN
14,No,NaN
15,Yes,Consider myself an amateur/aspiring data scien...
16,NaN,NaN
17,NaN,NaN
18,Sort of (Explain more),NaN
19,Sort of (Explain more),NaN
20,Yes,NaN
21,Yes,NaN
22,No,NaN
23,Sort of (Explain more),NaN
24,No,NaN
25,Yes,not yet
26,Yes,NaN
27,NaN,NaN
28,NaN,NaN
29,Yes,NaN
...,...,...
16686,No,NaN
16687,Sort of (Explain more),NaN
16688,No,NaN
16689,No,NaN
16690,No,NaN
16691,No,NaN
16692,Yes,NaN
16693,No,NaN
16694,NaN,Was professor and employed many DS techniques;...
16695,Yes,NaN
16696,No,NaN
16697,No,Stepping into the field of data science.
16698,Yes,NaN
16699,NaN,NaN
16700,NaN,NaN
16701,NaN,I think data scientist just use the existing a...
16702,No,NaN
16703,Yes,NaN
16704,Yes,NaN
16705,Yes,NaN
16706,Yes,NaN
16707,NaN,NaN
16708,NaN,NaN
16709,Yes,NaN
16710,Yes,Do a lot of data analysis either for M&A activ...
16711,No,NaN
16712,No,NaN
16713,NaN,NaN
16714,Yes,NaN
16715,Yes,NaN